@model CategoryViewModel

@{
    ViewData["Title"] = "Create New Category";
}


<form asp-action="Create">
    <div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Active" class="form-label"></label>
            <input asp-for="Active" class="form-control">
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" value="Create" class="btn btn-primary">Submit</button>
</form>